header {
  
}
header div.headertop {
  
  background-color: black;
}
header div.headertop div.wrap {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
header div.headertop div.wrap h1 {
  
}
header div.headertop div.wrap h1 a {
  
  color: white;
  font-size: 50px;
  font-weight: 700;
  display: block;
  padding: 15px 0;
}
header div.headertop div.wrap div.searchwrap {
  
  display: flex;
  align-items: center;
}
header div.headertop div.wrap div.searchwrap form {
  
  display: flex;
  align-items: center;
  border: 1px solid white;
}
header div.headertop div.wrap div.searchwrap form input {
  
  border: none;
  background-color: white;
  width: 400px;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  outline: none;
}
header div.headertop div.wrap div.searchwrap form button.search {
  
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header div.headertop div.wrap div.searchwrap form button.search svg {
  
  width: 75%;
}
header div.headertop div.wrap div.searchwrap ul.keyword {
  
  width: 100px;
  text-align: center;
}
header div.headertop div.wrap div.searchwrap ul.keyword li {
  
}
header div.headertop div.wrap div.searchwrap ul.keyword li a {
  
  color: white;
}
header div.headertop div.wrap ul.utilmenu {
  
  display: flex;
  height: 90px;
}
header div.headertop div.wrap ul.utilmenu > li {
  
  position: relative;
  height: 100%;
  width: 90px;
  display: flex;
  justify-content: center;
}
header div.headertop div.wrap ul.utilmenu > li > a {
  
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
header div.headertop div.wrap ul.utilmenu li a svg {
  
  width: 30px;
}
header div.headertop div.wrap ul.utilmenu li ul.utilinner {
  position: absolute;
  background-color: white;
  text-align: center;
  width: 125px;
  bottom: -135px;
  border: 1px solid;
  box-sizing: border-box;
  padding: 10px 0;
  display: none;
  z-index: 15;
}
header div.headertop div.wrap ul.utilmenu li ul.utilinner li {
  
}
header div.headertop div.wrap ul.utilmenu li ul.utilinner li a {
  
  display: block;
  line-height: 2;
  width: 100%;
}
header div.headertop div.wrap ul.utilmenu li ul.utilinner li a:hover {
  background-color: lightgray;
}
header div.headerbtm {
  
  border-bottom: 3px solid;
}
header div.headerbtm div.wrap {
  
  display: flex;
  justify-content: space-between;
  border: none;
}
header div.headerbtm div.wrap ul.leftnav {
  
  display: flex;
}
header div.headerbtm div.wrap ul.leftnav li {
  
}
header div.headerbtm div.wrap ul.leftnav li a {
  
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
}
header div.headerbtm div.wrap ul.leftnav li a:hover {
  text-decoration: underline;
}
header div.headerbtm div.wrap ul.leftnav li:nth-child(1) a {
  color: rgb(0, 120, 255);
}
header div.headerbtm div.wrap ul.rightnav {
  
  display: flex;
}
header div.headerbtm div.wrap ul.rightnav li {
  
}
header div.headerbtm div.wrap ul.rightnav li:nth-child(1) {
  
  display: flex;
  align-items: center;
}
header div.headerbtm div.wrap ul.rightnav li a {
  
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
}
header div.headerbtm div.wrap ul.rightnav li a:hover {
  text-decoration: underline;
}
header div.headerbtm div.wrap ul.rightnav li:nth-child(1) a {
  
  color: rgb(0, 120, 255);
}