section#sidemenu {
  
  position: fixed;
  left: 0;
  display: flex;
  transform: translateX(-300px);
  transition: all 0.5s;
  z-index: 25;
}
section#sidemenu button.category {
  
  width: 50px;
  height: 50px;
  border: 1px solid;
  background-color: white;
  border-left: 0;
  order: 2;
  margin-left: -1px;
  cursor: pointer;
}
section#sidemenu button.category svg {
  
}
section#sidemenu ul.categorywrap {
  
  width: 300px;
  padding: 15px 25px;
  box-sizing: border-box;
  border: 1px solid;
  overflow-y: scroll;
  height: 750px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  background-color: white;
}
section#sidemenu ul.categorywrap::-webkit-scrollbar {
  display: none;
}
section#sidemenu ul.categorywrap > li {
  
  border-bottom: 1px solid lightgray;
  padding: 15px 0;
}
section#sidemenu ul.categorywrap li div.categorylist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#sidemenu ul.categorywrap li div.categorylist h2 {
  
}
section#sidemenu ul.categorywrap li div.categorylist h2 a {
  
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}
section#sidemenu ul.categorywrap li div.categorylist a.categorymore {
  
  font-size: 20px;
  font-weight: 900;
  line-height: 2;
  width: 25px;
  text-align: center;
}
section#sidemenu ul.categorywrap li ul.categoryitem {
  flex-wrap: wrap;
  row-gap: 15px;
  display: flex;
}
section#sidemenu ul.categorywrap li ul.categoryopen {
}
section#sidemenu ul.categorywrap li ul.categoryitem li {
  
  width: calc(100% / 2);
}
section#sidemenu ul.categorywrap li ul.categoryitem li a {
  
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 5px 0;
}
section#sidemenu ul.categorywrap li ul.categoryitem li a:hover {
  font-weight: 700;
}
section#sidemenu.sideopen {
  transform: translateX(0px);
}